<template>
	<div>这是首页</div>
</template>

<script>
export default {
	name: 'index',
	data() {
		return {
			msg: ''
		};
	},
	computed: {},
	mounted() {},
	created() {},
	methods: {}
};
</script>

<style lang="less" scoped="scoped"></style>
