<template>
	<div id="app"><router-view /></div>
</template>
<script>
export default {
	name: 'app',
	data() {
		return {};
	},
	created() {},
	methods: {},
	components: {}
};
</script>

<style lang="less">
body {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei';
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
</style>
